<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <div id = "user-hello"></div>
    {{ room|json_script:"room_name"}}

    
        <textarea name="chat-text" id="chat-text" cols="30" rows="10"></textarea><br>
        <input type="text" id="input"><br>
        <input type="button" id="submit" value = "send"> -->

    <form id = "form">
        <input type="text" name = "message">
    </form>

    <div id="messages"></div>


</body>
    <!-- <script>
        document.querySelector('#submit').onClick = function(e) {
            const messageInputDom =  document.querySelector("#input");
            const message =  messageInputDom.value;
            chatSocket.send(JSON.stringify({

                'message':message, 
            }));

            messageInputDom.value = '';
        };

        const roomName = JSON.parse(document.getElementById('room_name').textContent);
        const chatSocket =  new WebSocket(
            'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
        ); 

        chatSocket.onmessage = function(e){
            const data = JSON.parse(e.data);
            console.log(data)
            document.querySelector("#user-hello").innerHTML = (data.tester)
            document.querySelector("#chat-text").value += (data.message + '\n')
        }
    </script> -->

<script type="text/javascript">
    let url = 'ws://' + window.location.host + '/ws/socket-server/'
    const chatSocket = new WebSocket(url)

    chatSocket.onmessage = function(e) {
        let data = JSON.parse(e.data)
        console.log('Data: ',data)

        if (data.type === 'chat'){
            let messages = document.getElementById('messages')

            messages.insertAdjacentHTML('beforeend', `<div>
                <p>${data.message}</p>
            </div>`

                )
        }
    }

    let form = document.getElementById('form')
    form.addEventListener('submit', (e)=>{
        e.preventDefault()
        let message = e.target.message.value 

        chatSocket.send(JSON.stringify({
            'message': message
        }))
        form.reset()
    })



</script>


</html>